@use "../../styles/variables" as *;

.Root {
	margin-top: 150px;
	padding: 20px 10px 10px 10px;
	border-top-left-radius: 100% 5%;
	border-top-right-radius: 100% 5%;
	border-bottom-left-radius: 100% 5%;
	border-bottom-right-radius: 100% 5%;
	background-color: rgba(100%, 100%, 100%, 5%);
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 60px;
	gap: 16px;
}

.ToggleItem{
	all: unset;
	border-radius: 4px;
	display: flex;
	padding: 5px 5px;
	margin-bottom: 10px;
	gap: 10px;
	background-color: transparent;
	cursor: pointer;
	position: relative; 
	&:after {
		content: attr(data-tooltip);  
		position: absolute;
		top: 50%;
		left: 100%; 
		height: 30px;
		display: flex;
		justify-content: center;
		align-items: center;
		transform: translateY(-50%);
		background-color: white;
		color: rgb(0, 0, 0);
		padding: 5px 10px;
		border-radius: 4px;
		font-size: 14px;
		opacity: 0;
		transition: opacity 0.3s ease;
		white-space: nowrap;
		margin-left: 10px;
	}
	&:hover::after {
		opacity: 1;
	}
	&:hover {
		background-color: #3a3d5f;
		color: white;
	}
	&:focus {
		position: relative;
		box-shadow: 0 0 0 2px var(--violet-7);
	}
	&[data-state="on"] {
		background-color: #4955C2;
		color: white;
	}
}


.Separator {
	height: 1px;
	width: 90%;
	background-color: gray;
}



